

.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 24px;
  letter-spacing: 0px;
  font-weight: bold;
  line-height: 1.2;
  color: rgb(54, 54, 54);

  font-family: $base-font-family;

  @include media-query($on-mobile) {
    font-size: 24px;
  }
}

.post-subtitle {
  font-size: 26px;
  letter-spacing: -1px;
  line-height: 1;
  color: #777;
  font-family: $base-font-family;
  font-style: oblique;
  position: relative;
  top: -0.3em;

  @include media-query($on-mobile) {
    font-size: 24px;
  }
}

.post-meta .post-date {
  text-transform: uppercase;
  font-size: 120%;
  color: #777;

}

.post-content {
  margin-bottom: $spacing-unit;
  width: 100%;
  h2 {
    font-size: 32px;

    @include media-query($on-mobile) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-mobile) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-mobile) {
      font-size: 18px;
    }
  }
}

.post-pic {
  border: #999 1px solid;
}

.magnify {
  cursor: zoom-in;
}

.post-languages {
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  margin-top: 30px;
  margin-bottom: 20px;

  strong {
    font-size: 11px;
    text-transform: uppercase;
  }
}

div.footnotes {
  font-size: 80%;
}

.draft-banner {
  background: #ff9999;
  color: #660000;

  text-align: center;
  padding: 1em;
  margin-bottom: 2em;
  font-family: Helvetica, sans-serif;

  border-radius: 5px;

  a {
    color: #330000;
  }
}


// .highlight, .code {
//   background-color: #272822; 
// }

// .highlight .gh {
//   color: #999999;
// }
// .highlight .sr {
//   color: #f6aa11;
// }
// .highlight .go {
//   color: #888888;
// }
// .highlight .gp {
//   color: #555555;
// }
// .highlight .gs {
// }
// .highlight .gu {
//   color: #aaaaaa;
// }
// .highlight .nb {
//   color: #f6aa11;
// }
// .highlight .cm {
//   color: #75715e;
// }
// .highlight .cp {
//   color: #75715e;
// }
// .highlight .c1 {
//   color: #75715e;
// }
// .highlight .cs {
//   color: #75715e;
// }
// .highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
//   color: #75715e;
// }
// .highlight .err {
//   color: #960050;
// }
// .highlight .gr {
//   color: #960050;
// }
// .highlight .gt {
//   color: #960050;
// }
// .highlight .gd {
//   color: #49483e;
// }
// .highlight .gi {
//   color: #49483e;
// }
// .highlight .ge {
//   color: #49483e;
// }
// .highlight .kc {
//   color: #66d9ef;
// }
// .highlight .kd {
//   color: #66d9ef;
// }
// .highlight .kr {
//   color: #66d9ef;
// }
// .highlight .no {
//   color: #66d9ef;
// }
// .highlight .kt {
//   color: #66d9ef;
// }
// .highlight .mf {
//   color: #ae81ff;
// }
// .highlight .mh {
//   color: #ae81ff;
// }
// .highlight .il {
//   color: #ae81ff;
// }
// .highlight .mi {
//   color: #ae81ff;
// }
// .highlight .mo {
//   color: #ae81ff;
// }
// .highlight .m, .highlight .mb, .highlight .mx {
//   color: #ae81ff;
// }
// .highlight .sc {
//   color: #ae81ff;
// }
// .highlight .se {
//   color: #ae81ff;
// }
// .highlight .ss {
//   color: #ae81ff;
// }
// .highlight .sd {
//   color: #e6db74;
// }
// .highlight .s2 {
//   color: #e6db74;
// }
// .highlight .sb {
//   color: #e6db74;
// }
// .highlight .sh {
//   color: #e6db74;
// }
// .highlight .si {
//   color: #e6db74;
// }
// .highlight .sx {
//   color: #e6db74;
// }
// .highlight .s1 {
//   color: #e6db74;
// }
// .highlight .s, .highlight .sa, .highlight .dl {
//   color: #e6db74;
// }
// .highlight .na {
//   color: #a6e22e;
// }
// .highlight .nc {
//   color: #a6e22e;
// }
// .highlight .nd {
//   color: #a6e22e;
// }
// .highlight .ne {
//   color: #a6e22e;
// }
// .highlight .nf, .highlight .fm {
//   color: #a6e22e;
// }
// .highlight .vc {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .nn {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .nl {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .ni {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .bp {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .vg {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .vi {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .nv, .highlight .vm {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .w {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .n, .highlight .py, .highlight .nx {
//   color: #ffffff;
//   background-color: #272822;
// }
// .highlight .ow {
//   color: #f92672;
// }
// .highlight .nt {
//   color: #f92672;
// }
// .highlight .k, .highlight .kv {
//   color: #f92672;
// }
// .highlight .kn {
//   color: #f92672;
// }
// .highlight .kp {
//   color: #f92672;
// }
// .highlight .o {
//   color: #f92672;
// }
