<!DOCTYPE html>
<link rel="preload" href="/assets/fonts/Noto-Sans-700/Noto-Sans-700.woff2" as="font" type="font/woff2" crossorigin ></link>
<link rel="preload" href="/assets/fonts/Noto-Sans-regular/Noto-Sans-regular.woff2" as="font" type="font/woff2" crossorigin ></link>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        <div class="home">
          <img
          src="{{ page.profile_picture.src | absolute_url }}"
          alt="{{ page.profile_picture.alt }}"
          class="profilepic"
          />
          <div class="home-intro">
            {{ content }}
          </div>
        </div>
      </div>
    </div>

    {% include footer.html %}

    {% include foot.html %}
  </body>
</html>
